# Secrets - niemals committen!
config/ms_token.json
config/token_watcher_state.json

# Logs
logs/

# Python
__pycache__/
*.pyc
config/google_client.json
config/google_token.json
config/wtnet_account.json
config/telegram_bot.json
config/azure_speech.json
config/gemini_api.json
config/outlook_oauth2.json
config/outlook_token.json
config/gemini_api_free.json
tools/jadx.zip
tools/jadx/lib/*.jar
tools/*.apk
config/google_gmail_drive_token.json
config/
