# Secrets - niemals committen!
config/ms_token.json
config/token_watcher_state.json

# Logs
logs/

# Python
__pycache__/
*.pyc
config/google_client.json
config/google_token.json
config/wtnet_account.json
